::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

body{
    width: 400px;
    /* min-height: 100px; */
    margin: 0;
    border-radius: 10px;
}
span{
    font-weight: bold;
}
h1{
    width: 100%;
    height: 30px;
    background: black;
    text-align: center;
    color: white;
    font-weight: 400;
    padding: 10px 0;
    margin: 0;
}
h2{
    margin: 0;
    padding: 10px;
    font-size: 20px;
}
p{
    margin: 0;
    flex-grow: 1;
    position: relative;
}
.title{
    padding: 10px 0;
    margin: 0 10px;
    flex-grow: 3;
}
.tab{
    position: relative;
    flex-grow: 1;
    text-align: center;
    padding: 10px 0;
    transition: .3s all;
}
.tab:hover{
    cursor: pointer;
    background: rgb(168, 168, 168);
}
#full-disp{
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: white;
    /* z-index: 2; */
    align-items: center;
    display: flex;
    font-size: 20px;
    color: gray;
}
.tab.selected{
    background: black;
    color: white;
}
.tab-container{
    width: 100%;
    display: none;
    position: relative;

}
.content-container{
    position: relative;
}
#header{
    display: flex;
    font-size: 20px;
    background: white;
}
#header-container{
    /* position: fixed; */
    /* height: 50px; */
    left: 0;
    right: 0;
}
.graph-container{
    margin: 20px 30px 20px 10px;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.bar{
    position: absolute;
    top: 0;
    left: 0px;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    transition: .2s all;
}
.bar-img{
    height: 100%;
    width: auto;
    border-radius: 50%;
    margin-left: 50%;
    background: white;
    border: 3px solid black;
    box-sizing: border-box;
}
.image-container{
    height: 100%;
    position: relative;
    z-index: 1;
}
.bar-bar{
    width: 0%;
    background: black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: .2s background;
    height: 100%;
    position: relative;
}
.bar-bar[val]::after{
    padding: 0 10px 0 35px;
    left: 0px;
    top: 50%;
    transform: translate(0,-50%);
    text-shadow: black 0px 0px 10px;
    text-align: right;
    content: attr(val);
    position: absolute;
    right: 0px;
    color: white;
    font-size: 20px;
    white-space: nowrap;
    box-sizing: border-box;
}
.bar-bar::before{
    width: 100vw;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}
.bar-bar-container{
    flex-grow: 1;
    height: 100%;
    /* margin-left: 20px; */
    position: relative;

    /* background: blue; */
}

.class-selector{
    border: 2px solid transparent;
    border-top-left-radius: 10px;
    text-align: left;
    color: black;
    font-size: 20px;
    position: relative;
    box-sizing: content-box;
    transition: .3s all;
}
.class-selector.active{
    border-color: black;
}
.class-selector.active .select-symbol{
    opacity: 1;
}
.class-selector.active .selected-class p::after{
    opacity: 0;
}
.selected-class{
    background: transparent;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
}
.selected-class:hover{
    cursor: pointer;
}
.selected-class p::after{
    left: 100%;
    content: attr(txt);
    position: absolute;
    transform: translate(1vw,0);
    transition: .3s all;



}
.drop-menu{
    /* border-top: 2px solid black; */
    background: white;
    /* max-height: 0px; */
    transform: scaleY(0);
    transform-origin: top;
    width: 100%;
    transition: .4s all;
    overflow: scroll;
    position: absolute;
    z-index: 2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.drop-menu.active{
    transform: scaleY(1);

}
.drop-menu-item{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    transition: .3s background;
    cursor: pointer;
}
.drop-menu-item:hover{
    background: rgb(187, 186, 186);
}

.element-container{
    position: relative;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid black;
    overflow: hidden;
    /* background: rgb(187, 187, 187); */
    background: white;
}
.element-container.no-hidden-overflow{
    /* border: none; */
    overflow: visible;
}
.element-container.flex{
    justify-content: center;
    display: flex;
    align-items: center;
}
.meeting-top{
    display: flex;
    box-sizing: border-box;
    font-size: 20px;
    /* justify-content: center; */
    align-items: center;
}
.fa-trash{
    margin-right: 10px;
}
.meeting-top:hover{
    cursor: pointer;
    background: lightgray;
}
.meeting-data{
    /* Move padding */
    max-height: 0px;

    transition: .4s all;
    overflow: hidden;
}
.meeting-data.active{
    max-height: 500px;

}
.meeting-details{
    padding: 10px;

}
.grow{
    flex-grow: 1;
}
.filler{
    flex-grow: 1;
    text-align: right;
}
/* i{
    background: aliceblue;
} */
.select-symbol{
    opacity: 0;
    transition: .4s all;
    margin-left: 10px;
}